<div class="main-content">
  <% @tweets.each do |tweet| %>
    <div class="tweet">
      <div class="name-box">
        <a class="name-box-name" href="/users/<%= tweet.user.id %>">
          <%= tweet.user.nickname %>
        </a>
        <div class="name-box-date"><%= tweet.created_at.strftime("%Y-%m-%d %H:%M")%></div>
          <div class="more">
          <span><i class="fas fa-ellipsis-h"></i></span>
          <% if user_signed_in? && current_user.id == tweet.user_id %>
            <ul class="more-list">
              <li>
                <%= link_to '編集', "/tweets/#{tweet.id}/edit", method: :get, class: "link" %>
              </li>
              <li>
                <%= link_to '削除', "/tweets/#{tweet.id}", method: :delete, class: "link" %>
              </li>
          <% end %>
          </div>
      </div>
      <div class="tweet-text">
        <div class="image"><%= tweet.image %>></div>
        <div class="text"> <%= simple_format(tweet.text) %></div>
      </div>
      <div class="item-box">
        <div class="item-box-icon">
          <% if user_signed_in? %>
            <div class="comment">
              <i class="far fa-comment fa-lg" style="color:black;"></i>
            </div>
              <%= link_to '詳細', "/tweets/#{tweet.id}", method: :get, class: "comment-new" %>
            <div class="heart">
              <i class="far fa-heart fa-lg" style="color:black;"></i>
            </div>
          <% else %>
            <div class="comment">
              <i class="far fa-comment fa-lg" style="color:black;"></i>
            </div>
            <div class="heart">
              <i class="far fa-heart fa-lg" style="color:black;"></i>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <% if user_signed_in? %>
    <div class="icon-box">
      <a class="feather-icon" href="/tweets/new"><i class="fas fa-feather-alt fa-3x"></i></a>
    </div>
  <% else %>
  <% end %>
</div>