<div class="main-content">
  <% @tweets.each do |tweet| %>
    <div class="tweet">
      <div class="name-box">
        <%= link_to user_path(tweet.user.id), class: 'name-box-name' do %>
          <%= tweet.user.nickname %>
        <% end %>
        <div class="name-box-date"><%= tweet.created_at.strftime("%Y年%m月%d日 %H:%M")%></div>
      </div>
      <div class="tweet-text">
        <div class="image">
          <% if tweet.image? %>
            <%= image_tag tweet.image.url, :size =>'680x500' %>
          <% end %>
        </div>
        <div class="text"> <%= simple_format(tweet.text) %></div>
      </div>
      <div class="item-box">
        <div class="item-box-icon">
          <div class="comment">
            <%= link_to tweet_path(tweet.id),class: 'i-comment' do %>
              <i class="far fa-comment fa-lg" style="color:black;"></i>
            <% end %>
          </div>
          <%= tweet.comments.size %>
          <div id="like-btn">
            <%= render partial: 'likes/like', locals: { tweet: tweet, likes: @likes} %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <% if user_signed_in? %>
    <div class="icon-box">
      <%= link_to new_tweet_path,class: 'feather-icon' do %>
        <i class="fas fa-feather-alt fa-3x"></i>
      <% end %>
    </div>
  <% end %>
</div>