<div class="main-content">
  <% @tweets.each do |tweet| %>
    <div class="tweet">
      <div class="name-box">
        <a class="name-box-name" href="/users/<%= tweet.user.id %>">
          <%= tweet.user.nickname %>
        </a>
        <div class="name-box-date"><%= tweet.created_at.strftime("%Y年%m月%d日 %H:%M")%></div>
      </div>
      <div class="tweet-text">
        <div class="image">
          <% if tweet.image? %>
            <%= image_tag tweet.image.url, :size =>'680x500' %>
          <% end %>
        </div>
        <div class="text"> <%= simple_format(tweet.text) %></div>
      </div>
      <div class="item-box">
        <div class="item-box-icon">
          <div class="comment">
            <a href="/tweets/<%=tweet.id%>"><i class="far fa-comment fa-lg" style="color:black;"></i></a>
          </div>
          <%= tweet.comments.size %>
          <div id="like-btn">
            <%= render partial: 'likes/like', locals: { tweet: tweet, likes: @likes} %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <% if user_signed_in? %>
    <div class="icon-box">
      <a class="feather-icon" href="/tweets/new"><i class="fas fa-feather-alt fa-3x"></i></a>
    </div>
  <% end %>
</div>