<div class="main-content">
  <% @tweets.each do |tweet| %>
    <div class="tweet">
      <div class="name-box">
        <a class="name-box-name" href="/users/<%= tweet.user.id %>">
          <%= tweet.user.nickname %>
        </a>
        <div class="name-box-date"><%= tweet.created_at.strftime("%Y年%m月%d日 %H:%M")%></div>
      </div>
      <div class="tweet-text">
        <div class="image">
          <% if tweet.image? %>
            <%= image_tag tweet.image.url, :size =>'680x500' %>
          <% end %>
        </div>
        <div class="text"> <%= simple_format(tweet.text) %></div>
      </div>
      <div class="item-box">
        <div class="item-box-icon">
          <div class="comment">
            <a href="/tweets/<%=tweet.id%>"><i class="far fa-comment fa-lg" style="color:black;"></i></a>
          </div>
          <% if user_signed_in? %>
            <div class="heart">
              <% if tweet.likes.find_by(user_id:current_user.id) %>
                <label class="like">
                <i class="fas fa-heart fa-lg"></i>
                <div class="iine"><%= button_to 'いいねを取り消す', "/tweets/#{tweet.id}/likes/id" , method: :delete %></div>
                </label>
              <% else %>
                <label class="unlike">
                <i class="far fa-heart fa-lg"></i>
                <div class="iine"><%= button_to 'いいね', "/tweets/#{tweet.id}/likes"  %></div>
                </label>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <% if user_signed_in? %>
    <div class="icon-box">
      <a class="feather-icon" href="/tweets/new"><i class="fas fa-feather-alt fa-3x"></i></a>
    </div>
  <% end %>
</div>