<div class="main-content">
  <div class="tweet">
    <div class="name-box">
      <div class="name-box-name"><%= @tweet.name %></div>
      <div class="name-box-date"><%= @tweet.created_at.strftime("%Y-%m-%d %H:%M")%></div>
      <div class="more">
        <span><i class="fas fa-ellipsis-h"></i></span>
        <ul class="more-list">
          <li>
            <%= link_to '編集', "/tweets/#{@tweet.id}/edit", method: :get, class: "link" %>
          </li>
          <li>
            <%= link_to '削除', "/tweets/#{@tweet.id}", method: :delete, class: "link" %>
          </li>
      </div>
    </div>
    <div class="tweet-text">
      <div class="image"><%= @tweet.image %>></div>
      <div class="text"> <%= simple_format(@tweet.text) %></div>
    </div>
  </div>
</div>