<div class="main-content">
  <p class="name-title"><%= @nickname %>さんの投稿一覧</p>
  <% @tweets.each do |tweet| %>
    <div class="tweet">
      <div class="name-box">
        <div class="name-box-name"><%= tweet.user.nickname %></div>
        <div class="name-box-date"><%= tweet.created_at.strftime("%Y年%m月%d日 %H:%M")%></div>
        <div class="more">
          <% if user_signed_in? && current_user.id == tweet.user_id %>
          <span><i class="fas fa-ellipsis-h"></i></span>
            <ul class="more-list">
              <li>
                <%= link_to '編集', "/tweets/#{tweet.id}/edit", method: :get, class: "link" %>
              </li>
              <li>
                <%= link_to '削除', "/tweets/#{tweet.id}", method: :delete, class: "link" %>
              </li>
          <% end %>
        </div>
      </div>
      <div class="tweet-text">
        <div class="image">
          <% if tweet.image? %>
            <%= image_tag tweet.image.url, :size =>'410x300' %>
          <% end %>
        </div>
        <div class="text"> <%= simple_format(tweet.text) %></div>
      </div>
      <div class="item-box">
        <div class="item-box-icon">
          <div class="comment">
            <a href="/tweets/<%=tweet.id%>"><i class="far fa-comment fa-lg" style="color:black;"></i></a>
          </div>
            
        </div>
      </div>
    </div>
  <% end %>
</div>