<!DOCTYPE html>
<html>
  <head>
    <title>Tweets</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  </head>

  <body>
    <div class="wrapper">
      <div class="header">
        <% if user_signed_in? %>
          <div class="header-name"><%= current_user.nickname %></div>
        <% else %>
          <div class="header-null"></div>
        <% end %>
        <div>
          <%= link_to "Tweets", root_path, class: 'header-title' %>
        </div>
        <% if user_signed_in? %>
          <div class="logs">
            <div class="log">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'post' %>
            </div>
          </div>
        <% else %>
          <div class="logs">
            <div class="log">
              <%= link_to "ログイン", new_user_session_path, class: 'post' %>
            </div>
            <div class="log">
              <%= link_to "新規登録", new_user_registration_path, class: 'post' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <%= yield %>
    
    <div class="footer">
      <div class="footer-icons">
        <%= link_to root_path, class: 'home' do %>
          <i class="fas fa-home fa-3x"></i>
        <% end %>
        <%= link_to searches_path, class: 'search' do %>
          <i class="fas fa-search fa-3x"></i>
        <% end %>
        <% if user_signed_in? %>
          <%= link_to user_path(current_user.id), class: 'cog' do %>
            <i class="fas fa-user-cog fa-3x" ></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </body>
</html>
